body{
    margin: 0;
    padding: 0;
    background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;  
  }
  
  h1{
      font-size: 60px;
      margin-bottom: 10px;
  }

  h2{
    color: white !important;
  }

  h3{
    color: #555555 !important;
  }

  p{
    color: white !important;
  }
  
  input{
      border-color: white;
      background-color: white;
      color: black;
  }
  





  @keyframes gradient-animation {
      0% {
        background-position: 0% 70%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 70%;
      }
  }
  
  .sub-container1{
      height: 300px;
      width: 300px;
      border-radius: 50%;
      border: 50px solid  #00bfff;
      background: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  
  .circle-text {
      text-align: center;
      font-size: 40px;
      color: white;
  }
  
  

  @media (max-width: 600px) {
    .sub-container1 {
        height: 120px;
        width: 120px;
        border: 25px solid  #00bfff;
    }
    .circle-text {
        font-size: 20px;
        top: 50%;
    }

}
    