body{
  margin: 0;
  padding: 0;
  background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;  

}

h1{
    color: white;
    font-size: 50px;
    margin-bottom: 10px;
}

form{
    margin-top: 10px;
}

label{
    color: white;
}

input{
    border-color: white;
}



@keyframes gradient-animation {
    0% {
      background-position: 0% 70%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 70%;
    }
    
  }

  .container{
   display: flex;
   justify-content: center;
   height: 100vh;
   flex-direction: column;
   align-items: center;
  }

  .sub-container1{
    height: 240px;
    width: 240px;
    border-radius: 50%;
    border: 50px solid  #00bfff;
  
    /* To make the inside of the circle transparent */
    background: transparent;
    
  }

  .circle-text {
    /* To position the text in the middle of the circle */
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    /* To center the text */
    text-align: center;
    
    /* Size of the text */
    font-size: 40px;
    
    /* Color of the text */
    color: white;

  }

  @media (max-width: 600px) {
    .sub-container1 {
        height: 120px;
        width: 120px;
        border: 25px solid  #00bfff;
    }
    .circle-text {
        font-size: 20px;
        top: 50%;
    }

}
    